<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erinfa.quizme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ShowAddCategory"
            android:exported="false" />
        <activity
            android:name=".ShowQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ShowRequestActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuizCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHomeScreenActivity"
            android:exported="false" />
        <activity
            android:name="com.erinfa.quizme.UI.Auth.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AdminQuestionAdd"
            android:exported="false" />
        <activity
            android:name="com.erinfa.quizme.UI.Profile.UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".AddQuizQuestionActivity"
            android:exported="false" />
        <activity
            android:name="com.erinfa.quizme.UI.Spinner.SpinnerActivity"
            android:exported="false" />
        <activity
            android:name="com.erinfa.quizme.UI.Result.ResultActivity"
            android:exported="false" />
        <activity
            android:name="com.erinfa.quizme.UI.Question.QuizActivity"
            android:exported="false" />
        <activity
            android:name="com.erinfa.quizme.UI.Auth.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.erinfa.quizme.UI.Auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.erinfa.quizme.UI.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>